
@media (min-width : 100px) {
  .map-body {
    clear: both;
    width: 750px;
    height: 550px;
  }
  .map-sidebar {
    height: 550px;
    clear: both;
  }
}
@media (min-width: 750px) {
  .map-body {
    float: left;
    width: 1000px;
    height: 800px;
  }
  .map-sidebar {
    float: left;
    height: 800px;
  }
}

