
@media (min-width : 100px) {
  .map-body {
    width: 750px;
    height: 550px;
  }
  .map-sidebar {
  }
}
@media (min-width: 750px) {
  .map-body {
    display:inline-block;
    width: 1000px;
    height: 800px;
    float: left;
  }
  .map-sidebar {
    margin-top: 30px;
    padding-top: 30px;
    display:inline-block;
    height: 100px;
    width: 200px;
  }
}

